<h1> List Detail</h1>
<button (click)='getReceiveinfo1fromService()'>Info1</button>
<ul class='list-group'>
  <li *ngFor="let info of receiveinfo1" class="list-group-item"> {{info}}</li>
</ul>
<pre></pre>

<button (click)='getReceiveinfo2fromService()'>Info2</button>
<ul class='list-group'>
  <li *ngFor="let info of receiveinfo2" class="list-group-item"> {{info}}</li>
</ul>
<pre></pre>

<button (click)='getReceiveinfo3fromService()'>Info3</button>
<ul class='list-group'>
  <li *ngFor="let info of receiveinfo3" class="list-group-item"> {{info}}</li>
</ul>
<pre></pre>